$primary-color: #403432;
$secondary-color: #5b3a32;
$hover-color: #776763;
$disabled-color: #c1b4b1;
$text-color: #343030;
$primary-background-color: #ffffff;
$secondary-background-color: #eceaea;
$border-color: #E1E1E1;

$font-family: 'Merriweather', serif;
