@import '../styles/variables';

.header {
  border-bottom: 1px solid $border-color;
  padding: 20px 200px 20px 300px;

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__navLinks {
    display: flex;
    gap: 20px;
  }
}
